div 
  //- Formas de agregar clases o ids
  //- h2.text-center Login
  //- h2(class="text-center") Login
  //- h2(id="text-center") Login
  //- h2#text-center Login

  //- Formas de agregar variables
  //- if  autenticado
  //-   p Usuario autenticado
  //- else
  //-   p Inicia sesión

  h2.text-center Inicia Sesión